<div class="w-full flex flex-row h-[98vh] bg-[#f9f9f8]">

  <div class="flex flex-col w-1/4 h-full bg-teal-800 p-[2vh] m-2 rounded-2xl shadow-2xl">

    <img ngSrc="assets/images/ic_grid.png" class="mx-4 mt-16" height="96" width="96"/>

    <!--banner header-->
    <div class="bg-teal-600 flex flex-row px-8 mx-4 py-4 rounded-xl mt-4 items-center shadow-xl">
      <img width="96" height="96" src="https://images.pexels.com/photos/1432238/pexels-photo-1432238.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
           alt="businesswoman" class="shadow w-[96px] h-[96px] rounded-full max-w-full align-middle border-2 border-white object-cover"/>
      <div class="flex flex-col h-full ml-4 align-middle justify-center">
        <h1 class="text-gray-100 text-2xl font-bold" formatEmail>{{user?.email ? user?.email?.substring(0, 15) + '...' : 'loading ...'}}</h1>
        <h2 class="text-gray-200 text-lg font-light">{{user?.phone}}</h2>
      </div>
    </div>

    <div class="mt-8"></div>
    <app-dashboard-menu-item
      [selected]="selectedItem == 1" title="Home" icon="https://img.icons8.com/material/96/FFFFFF/home-page.png"
      (click)="toggleSelection(1)">
    </app-dashboard-menu-item>

    <app-dashboard-menu-item
      [selected]="selectedItem == 2" title="Transactions" icon="https://img.icons8.com/material/96/FFFFFF/payment-history.png"
      (click)="toggleSelection(2)">
    </app-dashboard-menu-item>

    <app-dashboard-menu-item
      [selected]="selectedItem == 3" title="Notifications" icon="https://img.icons8.com/material/96/FFFFFF/bell--v1.png"
      (click)="toggleSelection(3)">
    </app-dashboard-menu-item>

    <app-dashboard-menu-item
      [selected]="selectedItem == 4" title="Logout" icon="https://img.icons8.com/material/96/FFFFFF/exit.png"
      (click)="toggleSelection(4)">
    </app-dashboard-menu-item>

    <div class="flex flex-row justify-start mx-4 mt-32 cursor-pointer">

      <div class="bg-teal-600 px-6 py-5 rounded-lg border-2 border-dashed mx-2 shadow-lg">
        <span class="material-icons text-4xl text-white">add</span>
      </div>

      <div class="mx-2 h-full flex flex-col justify-center py-2">
        <h1 class="text-gray-100 text-xl font-bold">Add new transaction</h1>
        <h2 class="text-gray-200 text-lg font-light">transfer, receive, topup</h2>
      </div>

    </div>

  </div>

  <div class="flex flex-col w-3/4 h-full m-2 p-[2vh]">
    <app-dashboard-nav [email]="user?.email" [toggleSendMoney]="toggleSendMoney"></app-dashboard-nav>
    <div class="justify-between flex flex-row mt-16 items-center">
      <p class="text-gray-800 text-6xl font-bold">Overview</p>
      <div class="flex flex-row items-center">
        <div class="rounded-full bg-green-600 w-2 h-2 mx-4"></div>
        <p class="text-gray-600 text-xl font-medium">Updated 5 mins ago</p>
      </div>
    </div>

    <div class="flex flex-row w-full mt-16">

      <div class="flex flex-col w-1/2 p-2">
        <p class="text-gray-600 text-2xl font-medium">Today's Balance</p>
        <app-loader *ngIf="!accountBalance?.toLocaleString()"></app-loader>
        <p class="text-gray-800 text-7xl font-bold mt-4" *ngIf="accountBalance?.toLocaleString()">Ksh. {{accountBalance?.toLocaleString()}}</p>
        <div class="flex flex-row justify-start mt-8">
          <button class="bg-teal-800 p-6 rounded-xl w-1/2 font-bold text-white text-2xl" (click)="toggleTopUp()">
            TopUp Account
          </button>
          <button class="bg-gray-400 mx-2 p-6 rounded-xl w-1/2 font-bold text-white text-2xl">
            Withdraw Funds
          </button>
        </div>

        <h1 class="text-black font-bold mt-16 text-3xl">All Transactions</h1>
        <p class="font-medium text-xl text-gray-500 mt-2">Recent transactions</p>

        <div class="mt-8">
          <app-transaction [transaction]="sampleTransaction"></app-transaction>
          <app-transaction [transaction]="sampleTransaction2"></app-transaction>
        </div>

      </div>

      <div class="flex flex-col w-1/2 p-2">

        <div class="flex flex-row justify-between rounded-lg bg-white p-4 shadow-xl mr-16">

          <div class="flex flex-row items-center">
            <div class="bg-gray-300 items-center px-2 py-1 rounded-lg h-min">
              <span class="material-icons text-black items-center text-3xl">south</span>
            </div>

            <div class="flex flex-col py-1 justify-between mx-4">
              <p>Latest Receivable</p>
              <p class="text-4xl font-bold">Ksh. 43,500</p>
            </div>
          </div>

          <div class="flex flex-col py-1 justify-center">
            <p>Balance</p>
            <p class="text-2xl font-bold">Ksh. 270,156</p>
          </div>

        </div>

        <div class="flex flex-row justify-between rounded-lg bg-white p-4 shadow-xl mt-4 ml-16">

          <div class="flex flex-row items-center">
            <div class="bg-gray-300 items-center px-2 py-1 rounded-lg h-min">
              <span class="material-icons text-black items-center text-3xl">north</span>
            </div>

            <div class="flex flex-col py-1 justify-between mx-4">
              <p>Latest Payable</p>
              <p class="text-4xl font-bold">Ksh. 3,500</p>
            </div>
          </div>

          <div class="flex flex-col py-1 justify-center">
            <p>Balance</p>
            <p class="text-2xl font-bold">Ksh. 270,156</p>
          </div>

        </div>

        <h1 class="text-black font-bold mt-16 text-3xl">Notifications</h1>
        <p class="font-medium text-xl text-gray-500 mt-2">Latest</p>

        <div class="mt-8">
          <app-notification></app-notification>
          <app-notification></app-notification>
        </div>

      </div>

    </div>

  </div>

  <div class="{{!topUpShown ? 'hidden' : 'flex'}} overflow-x-hidden bg-[#1818185F] overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center p-4">
    <div class="relative w-auto my-6 mx-auto max-w-6xl">
      <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
        <form class="p-8 flex flex-col" (submit)="updateAccountBalance($event)">
          <h1 class="text-4xl font-bold">TopUp Account</h1>

          <label class="text-2xl font-medium mt-4 flex">Amount</label>
          <input type="number" placeholder="Amount in Ksh." class="border-gray-600 border-2 rounded-lg p-2" #topUp (keyup)="onTopUp(topUp.value)">

          <button class="flex mt-4 p-2 bg-teal-800 text-white font-bold text-xl justify-center items-center rounded-lg">
            <span class="material-icons mr-2">add</span> ADD
          </button>

          <button class="flex mt-2 p-2 bg-red-800 text-white font-bold text-xl justify-center items-center rounded-lg" (click)="toggleTopUp()">
            <span class="material-icons mr-2">close</span>CANCEL
          </button>

        </form>
      </div>
      <div *ngIf="topUpLoading" class="mt-4 flex flex-row w-full justify-center items-center p-3">
        <app-loader></app-loader>
      </div>
    </div>
  </div>

  <div class="{{!sendMoneyShown ? 'hidden' : 'flex'}} overflow-x-hidden bg-[#1818185F] overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center p-4">
    <div class="relative w-auto my-6 mx-auto max-w-6xl">
      <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
        <form class="p-8 flex flex-col">
          <h1 class="text-4xl font-bold">Send Money</h1>

          <label class="text-2xl font-medium mt-4 flex">Amount</label>
          <input type="number" placeholder="Amount in Ksh." class="border-gray-600 border-2 rounded-lg p-2">

          <label class="text-2xl font-medium mt-4 flex">Phone (+254xxx)</label>
          <input type="number" placeholder="Phone number" class="border-gray-600 border-2 rounded-lg p-2">

          <button class="flex mt-4 p-2 bg-teal-800 text-white font-bold text-xl justify-center items-center rounded-lg">
            <span class="material-icons mr-2">send</span> SEND
          </button>

          <button class="flex mt-2 p-2 bg-red-800 text-white font-bold text-xl justify-center items-center rounded-lg" (click)="toggleSendMoney()">
            <span class="material-icons mr-2">close</span>CANCEL
          </button>

          <div class="mt-4 flex flex-row justify-center">
            <!--<app-loader></app-loader>
            <app-message></app-message>-->
          </div>

        </form>
      </div>
    </div>
  </div>

</div>
