<nav class="flex flex-row justify-between items-center">
  <app-loader *ngIf="!email"></app-loader>
  <div *ngIf="email">
    <h1 class="text-xl">Welcome, <p class="italic font-bold text-2xl">{{email}}</p></h1>
  </div>
  <div class="items-center flex flex-row">
    <span class="material-icons text-gray-500 text-4xl mx-2">settings</span>
    <span class="material-icons text-blue-700 animate-pulse text-4xl mx-2">notifications</span>
    <span class="material-icons text-gray-500 text-4xl mx-2">paid</span>
    <button class="bg-teal-800 text-white p-4 ml-8 rounded-2xl items-center shadow-lg" (click)="toggleSendMoney ? toggleSendMoney() : null">
      <div class="flex flex-row items-center">
        <p class="text-xl">Send money</p>
        <span class="material-icons text-2xl mx-2">currency_exchange</span>
      </div>
      </button>
  </div>

</nav>
