<div class="flex flex-row justify-between p-4  mr-16">

    <div class="flex flex-row items-center">
      <div class="bg-gray-300 items-center px-2 py-1 rounded-lg h-min">
        <span class="material-icons text-black items-center text-3xl">mark_chat_unread</span>
      </div>

      <div class="flex flex-col py-1 justify-between mx-4">
        <p class="text-xl font-medium">xyz sent some cash</p>
        <p class="font-light text-sm">now</p>
      </div>
    </div>

    <div class="flex flex-col py-1 justify-center">
      <p>Balance</p>
      <p class="text-2xl font-bold">Ksh. 270,156</p>
    </div>

</div>
