<app-navbar></app-navbar>
<div class="flex flex-row columns-2 h-[90vh] items-center bg-[#f9f9f8]">
  <div class="flex flex-col w-1/2 items-center">

    <form *ngIf="isLogin" [formGroup]="loginForm">
      <h1 class="font-bold text-5xl">Welcome back</h1>
      <p class="mt-2 font-light text-gray-800 text-2xl">Welcome back! Please enter your details</p>

      <label class="flex flex-row mt-16">Email</label>
      <input placeholder="Enter your email" type="text"
             class="mt-2 border-2 rounded-lg border-gray-500 bg-white w-full p-4" formControlName="email" required>
      <app-form-error *ngIf="loginControls.email.dirty && loginControls.email.errors"
        [message]="formErrorMessage.email">
      </app-form-error>

      <label class="flex flex-row mt-8">Password</label>
      <input placeholder="Enter password" type="password"
             class="mt-2 border-2 rounded-lg border-gray-500 bg-white w-full p-4" formControlName="password" required>
      <app-form-error *ngIf="loginControls.password.dirty && loginControls.password.errors"
        [message]="formErrorMessage.password">
      </app-form-error>

      <p class="w-full justify-self-end mt-8 text-end">Forgot password</p>

      <button class="mt-4 bg-teal-800 p-4 text-white rounded-lg w-full" (click)="loginAccount()">Sign In</button>
      <p class="mt-4 text-xl w-full text-center font-light">Don't have an account?
        <span class="text-teal-800 font-bold cursor-pointer" (click)="toggleAuthPage()">Sign Up</span></p>
    </form>

    <form class="" *ngIf="!isLogin" [formGroup]="registerForm">
      <h1 class="font-bold text-5xl">Welcome to M-Sape</h1>
      <p class="mt-2 font-light text-gray-800 text-2xl">Hello there! Create your new account today</p>

      <label class="flex flex-row mt-16">Email<h1 class="text-red-900 font-bold text-3xl">*</h1></label>
      <input placeholder="Add your email" type="text"
             class="mt-2 border-2 rounded-lg border-gray-500 bg-white w-full p-4" formControlName="email" required>
      <app-form-error *ngIf="registerControls.email.dirty && registerControls.email.errors"
        [message]="formErrorMessage.email">
      </app-form-error>

      <label class="flex flex-row mt-8">Phone<h1 class="text-red-900 font-bold text-3xl">*</h1></label>
      <input placeholder="Enter your phone number" type="tel"
             class="mt-2 border-2 rounded-lg border-gray-500 bg-white w-full p-4" formControlName="phone" required>
      <app-form-error *ngIf="registerControls.phone.dirty && registerControls.phone.errors"
        [message]="formErrorMessage.phone">
      </app-form-error>

      <label class="flex flex-row mt-8">Password<h1 class="text-red-900 font-bold text-3xl">*</h1></label>
      <input placeholder="Create a new password" type="password"
             class="mt-2 border-2 rounded-lg border-gray-500 bg-white w-full p-4" formControlName="password" required>
      <app-form-error *ngIf="registerControls.password.dirty && registerControls.password.errors"
        [message]="formErrorMessage.password">
      </app-form-error>

      <label class="flex flex-row mt-8">Confirm Password<h1 class="text-red-900 font-bold text-3xl">*</h1></label>
      <input placeholder="Confirm your new password" type="password"
             class="mt-2 border-2 rounded-lg border-gray-500 bg-white w-full p-4" formControlName="confirm" required>
      <app-form-error *ngIf="registerControls.confirmPassword.dirty && registerControls.confirmPassword.errors"
        [message]="formErrorMessage.password">
      </app-form-error>

      <button class="mt-8 bg-teal-800 p-4 text-white rounded-lg w-full" (click)="registerAccount()">CREATE ACCOUNT</button>
      <p class="mt-4 text-xl w-full text-center font-light">Already have an account?
        <span class="text-teal-800 font-bold cursor-pointer" (click)="toggleAuthPage()">Login</span></p>
    </form>

    <app-loader *ngIf="isLoading" class="mt-4"></app-loader>
    <app-message *ngIf="appResponse && !isLoading"
                 [response]="appResponse"
                 [success]="appResponse.status == 200"></app-message>

  </div>

  <div class="flex flex-col w-1/2 items-center content-center">
    <img ngSrc="assets/images/ic_mobile_transfer.png" height="512" width="512">
    <h1 class="text-9xl font-bold text-center">M-SAPE</h1>
  </div>
</div>
